body.fullwidth {
  background: transparent;
  margin: 5px;

  @extend .font;

  #ad-middle,
  #loadmore,
  .tw-player-page__comment__post,
  .tw-player-page__component__title,
  .comment-time,
  .name,
  .dropdown,
  .premium,
  .alert,
  td.img {
    display: none;
  }

  * {
    color: #fff !important;

    @extend .textStroke;
  }

  td.comment {
    border-top: none;
  }

  div#content {
    margin-top: 0;
  }
}
